.playbar
    display: flex
    align-items: center
.playing-song
    display: flex
    flex: 1
    min-width: 0
    overflow: hidden
    gap: 32px
    > img
        border-radius: 8px
        flex: 0
.song-info
    display: flex
    flex-direction: column
    justify-content: center
    flex: 1
    overflow: hidden
.play-controls
    flex: 1
    display: flex
    justify-content: center
    align-items: center
    gap: 16px
    button
        background-color: transparent
        border: none
.side-buttons
    flex: 1