
$fonts: "PingFang SC", system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif

*
    box-sizing: border-box
    font-family: $fonts !important
    margin: 0
    user-select: none
    -webkit-user-select: none

:root
    font-family: $fonts !important
    background: #111
    color: #FFF

body
    position: fixed
    width: 100%
    height: 100%
    overflow: hidden
    
input
    background: transparent
    border: solid 2px #FFF2
    border-radius: 8px
    padding: 8px 12px
    color: white
    &:focus
        border: solid 2px #FFF8
        outline: none
    &::placeholder
        font-family: $fonts

.spacer
    flex: 1

.inner-page-enter
  opacity: 0
  transform: scale(1.1)

.inner-page-enter-active
  opacity: 1
  transform: scale(1)
  transition: opacity 300ms cubic-bezier(0.1,0.9,0.2,1), transform 300ms cubic-bezier(0.1,0.9,0.2,1)

.inner-page-exit
  opacity: 1
  transform: scale(1)

.inner-page-exit-active
  opacity: 0
  transform: scale(0.9)
  transition: opacity 200ms cubic-bezier(0.8,0,1,1), transform 200ms cubic-bezier(0.8,0,1,1)

.container
    position: absolute
    display: flex
    width: 100vw
    height: 100vh
    flex-direction: column
    overflow: hidden
    .upper-container
        flex: 1
        min-height: 0
    .playbar
        border-top: solid 2px #FFF3
        padding: 16px

.main-page-router
    flex: 1
    min-height: 0
    contain: paint
    > *
        overflow-y: auto
        height: 100%

.sidebar-btn
    color: white
    border: none
    background: transparent
    cursor: pointer
    padding: 8px 12px
    border-radius: 8px
    text-align: left
    display: flex
    align-items: center
    min-width: 0px
    &:hover
        background: #FFF1
    .name
        min-width: 0
        overflow: hidden
        white-space: nowrap
        text-overflow: ellipsis
    .icon
        min-width: 20px
        margin: 6px
        margin-right: 12px
    .avatar
        border-radius: 50%
        margin-right: 6px
        display: inline-block
.upper-container
    display: flex
    .sidebar
        padding: 16px
        display: flex
        gap: 7px
        flex-direction: column
        overflow: hidden auto
    .dragger
        width: 2px
        background-color: #FFF3

.search-input
    margin-bottom: 16px

.login-page
    height: 100%
    display: flex
    align-items: center
    justify-content: center
    font-size: 0.8rem
    > *:nth-child(2)
        margin-left: 32px
        display: flex
        flex-direction: column
        button
            margin-top: 8px
        textarea
            resize: none
            width: 20vw
            height: 20vh
